.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
docs/
inst/doc
vignettes/*.html
vignettes/*.R
check/
*.tar.gz
Rplots.pdf
tests/testthat/Rplots.pdf
tests/testthat/testthat-problems.rds
vignettes/output/*.tif
vignettes/output/*.xml
